/* Colors */
.red {color:red;}
.green {color:green;}
.gold {color:goldenrod;}

/* Text */
.text-60 {font-size: 60%;}
.text-70 {font-size: 70%;}
.text-80 {font-size: 80%;}
.text-90 {font-size: 90%;}
.caption {
    font-style: italic;
    color:grey;
}

/* HTML Document */
body {
    font-family: Verdana, Arial, sans-serif;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
    padding-top: 20px;
    padding-bottom: 15px;
}

/* Horizontal rule */
hr {
    padding-bottom: 20px;
    border-bottom: 3px solid grey;
}

/* Document title*/
.doc-title {
    color:white;
    margin-left:15px;
    padding-top: 15px;
    padding-bottom: 10px;
}


/* AsciiDoc Style */

/* Paragraphs */
p {
    font-size: 1.2em;
    line-height: 2;
}

/* Lists */
li {
    line-height: 4.5;
}

/* Images */
.imageblock {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imageblock .title {
    margin-top: 20px;
}

/* Quotes */
.quoteblock blockquote, .quoteblock p {
    font-size: 1.1em;
    line-height: 2;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Sidebars */
.sidebarblock {
    font-size: 1.1em;
    line-height: 2;
    padding-top: 5px;
    padding-bottom: 5px;
}