body {
  text-align: justify;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.warning_grey {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #F8F9F9;
  border-color: #A93226;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
}

.warning_yellow {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #F2F542;
  border-color: #626316;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
}

.warning_red {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #E8B597;
  border-color: #701E10;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
}